.Testimonials {
  text-align: center;
  background-color: #247a48;
}

.Testimonials-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Testimonials-link {
  color: #61dafb;
}
